<?xml version="1.0" ?>
<config>
    <player name="PM_Driver" copydefplayers="yes" skipsaves="4"/>
    <!-- Valid player names are alphanumerical "a-z A-Z 0-9"
			with underscore "_" and space " ". Using wacky symbols
			may seem to work at first but the resulting player profile
			won't be loaded at game start.
		-->
    <!-- The "copydefplayers" setting can be "yes" or "no".
			If copying is enabled, default players from the game's "data/defplayers/"
			directory will be copied to the user's home if they are missing.
		-->
    <!-- The "skipsaves" number sets how many saves are skipped
			before data is actually written to the player profile,
			thereby reducing disk access.

			Setting "skipsaves" to 0 will cause the game to re-save the
			player profile each time a race is successfully completed.

			Setting "skipsaves" to -1 will cause the game to only save
			the player profile at game exit.
			WARNING: if the game crashes with this setting, all player
			progress may be lost!

			Default value is 4, meaning: save at game end or at every
			fifth race finished, whichever comes first.
		-->
    <video automatic="yes" width="800" height="600" bpp="0" fullscreen="yes" requirergb="no" requirealpha="no" requiredepth="yes" requirestencil="no" stereo="none" stereoeyeseparation="0.07" stereoswapeyes="no"/>
    <!-- Automatic video mode ("automatic"):
			yes - ignore user values and run fullscreen at desktop resolution and color depth
			no - run with user-provided values for width, height and bpp
		-->
    <!-- Possible values for stereo:
			none
			quadbuffer - use hardware stereo support
			red-blue - anaglyph
			red-green - anaglyph
			red-cyan - anaglyph
			yellow-blue - anaglyph
		-->
    <audio enginevolume="0.2" sfxvolume="0.69999999" codrivervolume="1"/>
    <!-- Possible range of volumes: 0 to 1.
			enginevolume - sets the gain of the car's engine
			sfxvolume - sets the (max) gain of wind, skids, crash, gear change, etc.
			codrivervolume - sets the gain of the codriver's voice
		-->
    <graphics anisotropy="off" foliage="yes" roadsigns="yes" weather="yes" snowflaketype="textured" dirteffect="yes"/>
    <!--
		anisotropy:
			Sets the level of anisotropic filtering for textures.
			The higher the value, the higher the quality of textures.
			Its value should be a power of two, such as: 1, 2, 4, 8, 16.
			Setting it to "off" causes anisotropic filtering to be turned off.
			Setting it to "max" causes the highest supported value to be used.
			(Note that "max" may not work on some computers.)

		foliage:
			Turns vegetation on and off.
			"yes" means that bushes, grass and trees will be displayed.
			"no" means that they won't be.

		roadsigns:
			Turns road signs on and off.
			"yes" means that road signs and other sprites will be displayed.
			"no" means that they won't be.

		weather:
			Turns weather effects on and off.
			"yes" means that rain and snowfall will be displayed.
			"no" means that they won't be.

		snowflaketype:
			Chooses the kind of snowflake used in levels with snowfall.
			"point" - fast, but may not work on some computers
			"square" - failsafe option but rather ugly
			"textured" - the fancy, resource-heavy option

		dirteffect:
			Chooses whether or not to show dirt thrown by the wheels of the car.
			"yes" - enable dirt effect (may reduce framerate)
			"no" - disable dirt effect
	-->
    <!-- The possible paths of the data directory, ordered by decreasing priority.
		If the first directory cannot be found, the next one is tried, and so on.
		If none of the paths is valid then the game will fail to run.

		Linux distro packagers: feel free to set the paths in accordance to the
		installation directory you choose for the trigger-rally data package.
	-->
    <datadirectory>
        <data path="./data"/>
        <data path="C:\Program Files\Trigger Rally\data"/>
        <data path="/usr/share/games/trigger-rally"/>
        <data path="/usr/local/share/games/trigger-rally"/>
    </datadirectory>
    <parameters drivingassist="0.33" enablesound="yes" enablecodriversigns="yes" speedunit="kph" codriver="ab" codriversigns="plain" codriversignslife="3.0" codriversignsposx="0.0" codriversignsposy="0.45" codriversignsscale="0.2" enablefps="no" enableghost="no"/>
    <!-- Possible values for speedunit:
			kph - Kilometres per hour
			mph - Miles per hour

			The chosen codriver "X" must have a valid directory as:
			/data/sounds/codriver/X/
			The codriver can be disabled by setting his name to "mime".

			The chosen codriver sign set "S" must have a valid directory as:
			/data/textures/CodriverSigns/S/

			codriversignslife:
				How many seconds before the codriver signs start fading.
				Default: 3.0

			codriversignsposx, codriversignsposy:
				Coordinates of the codriver signs' center.
				The coordinates pair (0, 0) represents the middle of the screen.
				Default: (0, 0.45)

			codriversignsscale:
				The scale of the codriver signs.
				A scale of 1.0 will cover the entire screen.
				Default: 0.2
		-->
    <controls>
        <keyboard enable="yes">
            <key action="forward" id="Up"/>
            <key action="back" id="Down"/>
            <key action="left" id="Left"/>
            <key action="right" id="Right"/>
            <key action="handbrake" id="Space"/>
            <key action="recover" id="R"/>
            <key action="recoveratcheckpoint" id="Q"/>
            <key action="cammode" id="C"/>
            <key action="camleft" id="."/>
            <key action="camright" id=","/>
            <key action="showmap" id="M"/>
            <key action="pauserace" id="P"/>
            <key action="showui" id="N"/>
            <key action="showcheckpoint" id="K"/>
            <key action="next" id=","/>
        </keyboard>
        <!-- For a list of SDL key names visit:
			http://wiki.libsdl.org/SDL_Keycode
		-->
        <!-- Typical joystick or wheel & pedals configuration -->
        <joystick enable="no">
            <axis action="forward" index="1" direction="+" deadzone="0.10" maxrange="1.00"/>
            <axis action="back" index="1" direction="-" deadzone="0.10" maxrange="1.00"/>
            <axis action="right" index="0" direction="+" deadzone="0.10" maxrange="1.00"/>
            <axis action="left" index="0" direction="-" deadzone="0.10" maxrange="1.00"/>
            <button action="handbrake" index="0"/>
            <button action="next" index="0"/>
        </joystick>
        <!-- Typical joypad configuration -->
        <joystick enable="no">
            <button action="forward" index="0"/>
            <button action="back" index="1"/>
            <axis action="right" index="0" direction="+" deadzone="0.10" maxrange="1.00"/>
            <axis action="left" index="0" direction="-" deadzone="0.10" maxrange="1.00"/>
            <button action="handbrake" index="2"/>
            <button action="next" index="0"/>
        </joystick>
    </controls>
</config>
