<?xml version="1.0"?>
<Settings>
	<Setting Key="Audio.Disabled" Value="0" />
	<Setting Key="Audio.OutputDevice" Value="" />
	<Setting Key="Game.DisableFlashing" Value="1" />
	<Setting Key="Game.LostFocusPause" Value="1" />
	<Setting Key="Game.SkipIntroCutscene" Value="0" />
	<Setting Key="Game.Subtitles" Value="1" />
	<Setting Key="Input.RumbleFactor" Value="0.5" />
	<Setting Key="Input.VirtualButtonSensitivity" Value="0.3" />
	<Setting Key="Input.VirtualButtonSensitivityHard" Value="0.5" />
	<Setting Key="Language.Custom" Value="en" />
	<Setting Key="Language.Fallback" Value="en" />
	<Setting Key="MusicVolume" Value="0.64" />
	<Setting Key="Screen.Blackbars" Value="0" />
	<Setting Key="Screen.Borderless" Value="0" />
	<Setting Key="Screen.Brightness" Value="0.4" />
	<Setting Key="Screen.CustomScale" Value="1" />
	<Setting Key="Screen.Display" Value="0" />
	<Setting Key="Screen.Fullscreen" Value="1" />
	<Setting Key="Screen.FullscreenSize" Value="desktop" />
	<Setting Key="Screen.KeepMouseInsideFullscreen" Value="0" />
	<Setting Key="Screen.KeepMouseInsideWindowed" Value="0" />
	<Setting Key="Screen.SafeAreaScale" Value="0" />
	<Setting Key="Screen.ScreenScale" Value="1" />
	<Setting Key="Screen.VSync" Value="0" />
	<Setting Key="Screen.WindowResizable" Value="1" />
	<Setting Key="Screen.WindowSize" Value="640;480" />
	<Setting Key="Session.CurrentProfile" Value="1" />
	<Setting Key="SoundVolume" Value="0.8" />
	<Setting Key="Version" Value="6.1.1.1" />
	<Setting Key="Visualizer.Bloom" Value="0" />
	<Setting Key="Visualizer.EnableAO" Value="0" />
	<Setting Key="Visualizer.HiQualityLight" Value="1" />
	<Setting Key="Visualizer.ResolutionScale" Value="1" />
</Settings>
