<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="SDL2" os="linux" target="libSDL2-2.0.so.0"/>
	<dllmap dll="FNA3D" os="linux" target="libFNA3D.so.0"/>
	<dllmap dll="FAudio" os="linux" target="libFAudio.so.0"/>
	<dllmap dll="libvorbisfile.dll" os="linux" target="libvorbisfile.so.3"/>
</configuration>
