<?xml version="1.0" encoding="utf-8"?>
<Options>
  <Game>
    <HideCursor>true</HideCursor>
    <MinimapOpacity>0.5</MinimapOpacity>
    <PickupTexts>true</PickupTexts>
    <DamageTexts>true</DamageTexts>
    <Username>Player</Username>
  </Game>
  <Graphics>
    <AmbientOcclusion>false</AmbientOcclusion>
    <Glow>false</Glow>
    <Lighting>true</Lighting>
    <Bloom>false</Bloom>
    <ShadowQuality>0</ShadowQuality>
    <TileBorders>true</TileBorders>
    <VSync>false</VSync>
    <ShaderSupport>true</ShaderSupport>
    <FBOSupport>true</FBOSupport>
    <TextureCombining>true</TextureCombining>
    <ShowGibs>false</ShowGibs>
    <Resolution>
      <Width>640</Width>
      <Height>480</Height>
      <Fullscreen>false</Fullscreen>
      <LetterBox>false</LetterBox>
    </Resolution>
    <PostProcess>
      <Phosphor>false</Phosphor>
      <Curvature>false</Curvature>
      <CurvatureAmount>0.2</CurvatureAmount>
      <Bloom>false</Bloom>
    </PostProcess>
  </Graphics>
  <Sound>
    <GlobalVolume>0.8142857</GlobalVolume>
    <MusicVolume>0.65</MusicVolume>
    <SFXVolume>0.8</SFXVolume>
  </Sound>
  <Controls>
    <Player1>
      <Keyboard>
        <InvertAutofire>false</InvertAutofire>
        <Up>W</Up>
        <Down>S</Down>
        <Left>A</Left>
        <Right>D</Right>
        <Attack1>Up</Attack1>
        <Attack2>Left</Attack2>
        <Attack3>Right</Attack3>
        <Attack4>Down</Attack4>
        <Potion>F</Potion>
        <Back>Escape</Back>
        <Menu>Escape</Menu>
        <Info>Tab</Info>
        <Strafe>Space</Strafe>
        <Hold>LeftShift</Hold>
        <Autofire>LeftControl</Autofire>
      </Keyboard>
    </Player1>
    <Player2>
      <Null />
    </Player2>
    <Player3>
      <Null />
    </Player3>
    <Player4>
      <Null />
    </Player4>
  </Controls>
</Options>