<plugin name="HD Monsters" version="1.0" description="HD Monsters and Scenery (from Freeverse et al.)">
  <shapes_patch file="XBLA Juggernaut.ShPa" requires_opengl="true"/>
  <shapes_patch file="XBLA Tick.ShPa" requires_opengl="true"/>
  <shapes_patch file="XBLA Hunter.ShPa" requires_opengl="true"/>
  <shapes_patch file="XBLA Player.ShPa" requires_opengl="true"/>
  <shapes_patch file="XBLA Trooper.ShPa" requires_opengl="true"/>
  <shapes_patch file="XBLA Fighter.ShPa" requires_opengl="true"/>
  <shapes_patch file="XBLA Defender.ShPa" requires_opengl="true"/>
  <shapes_patch file="XBLA Yeti.ShPa" requires_opengl="true"/>
  <shapes_patch file="XBLA BoB.ShPa" requires_opengl="true"/>
  <shapes_patch file="XBLA Enforcer.ShPa" requires_opengl="true"/>
  <shapes_patch file="XBLA Drone.ShPa" requires_opengl="true"/>
  <shapes_patch file="XBLA Compiler.ShPa" requires_opengl="true"/>
  <shapes_patch file="XBLA Water Scenery.ShPa" requires_opengl="true"/>
  <shapes_patch file="XBLA Lava Scenery.ShPa" requires_opengl="true"/>
  <shapes_patch file="XBLA Sewage Scenery.ShPa" requires_opengl="true"/>
  <shapes_patch file="XBLA Pfhor Scenery.ShPa" requires_opengl="true"/>
  <shapes_patch file="XBLA Cyborg.ShPa" requires_opengl="true"/>
  <mml file="XBLA Juggernaut.mml"/>
  <mml file="XBLA Tick.mml"/>
  <mml file="XBLA Hunter.mml"/>
  <mml file="XBLA Player.mml"/>
  <mml file="XBLA Trooper.mml"/>
  <mml file="XBLA Fighter.mml"/>
  <mml file="XBLA Defender.mml"/>
  <mml file="XBLA Yeti.mml"/>
  <mml file="XBLA BoB.mml"/>
  <mml file="XBLA Enforcer.mml"/>
  <mml file="XBLA Drone.mml"/>
  <mml file="XBLA Compiler.mml"/>
  <mml file="XBLA Water Scenery.mml"/>
  <mml file="XBLA Lava Scenery.mml"/>
  <mml file="XBLA Sewage Scenery.mml"/>
  <mml file="XBLA Pfhor Scenery.mml"/>
  <mml file="XBLA Cyborg.mml"/>
</plugin>
