//-----------------------------------------------------------
// MOD    : AD v1.80 - (Arcane Dimensions)
// Date   : October 2020
// Author : Simon "Sock" OCallaghan
// Website: www.simonoc.com
// Notes  : Special MOD config file (should not be deleted)
//          All player config options go in autoexec.cfg
//-----------------------------------------------------------
// load the base configuration
exec default.cfg

//-----------------------------------------------------------
// load the last saved configuration
exec config.cfg

//-----------------------------------------------------------
// Custom key bindings for this MOD
// 175=Key Inventory, 178=Cycle Huds
// 190=Show Chaos Seed, 196=Force Reset
bind "i" "impulse 175"
bind "h" "impulse 178"
bind "r" "impulse 190"
bind "k" "impulse 196"

//-----------------------------------------------------------
// All the artwork and levels are designed for pixel filtering
// I recommend you try this setting, the artwork will be crisp
// and the textures will feel vibrant and alive
//-----------------------------------------------------------
//gl_texturemode GL_NEAREST_MIPMAP_LINEAR

//-----------------------------------------------------------
// Only enable this setting if you are developing for the MOD
// They are not necessary for normal play throughs
//-----------------------------------------------------------
//developer "1"
//gl_clear 1
//gl_overbright 1
//scr_conscale 2
//scr_menuscale 3
//scr_sbarscale 3
scr_sbaralpha 0.99
scr_conspeed 2000
crosshair 1
//scr_showfps 0
con_notifytime 2

//-----------------------------------------------------------
// This is a collection of engine specific stuff
// Fitz/QS/MarkV : has really low limits (max_edicts)
// DP : Use original lightning bolt models (cl_beams_polygons)
// DP : Stop DP re-generating portals which already exist in BSP!
// QS/MarkV : r_shadow exclusion stuff
//-----------------------------------------------------------
max_edicts 8192
r_useportalculling 0
cl_beams_polygons 0
//mod_bsp_portalize 0
r_noshadow_list "progs/flame2.mdl,progs/flame.mdl,progs/bolt1.mdl,progs/bolt2.mdl,progs/bolt3.mdl,progs/laser.mdl,progs/wizard.mdl,progs/mon_gargoyle.mdl,progs/mon_gaunt.mdl,progs/mon_wraith.mdl,progs/mon_lostsoul.mdl,progs/mon_jim.mdl,progs/mon_jimrock.mdl,progs/misc_radar64.mdl,progs/misc_radar96.mdl,progs/misc_radar128.mdl,progs/misc_tutstatue.mdl"

//-----------------------------------------------------------
// New commands for this MOD
//-----------------------------------------------------------
// Impulse 100 - Toggle auto aim (0.93 <> 1.00)
// Impulse 105 - Toggle player projectile size
// Impulse 110 - Toggle Z aware monsters
// Impulse 115 - Toggle texture mode (linear/nearest)
// Impulse 120 - Toggle footstep sound
// Impulse 125 - Toggle Monster Liquid Damage
// Impulse 130 - Toggle Shotgun Projectiles
// Impulse 135 - Toggle Shotgun Casing
// Impulse 137 - Toggle tracking missiles on death
// Impulse 140 - Display MOD information
// Impulse 142 - Display Player information
// Impulse 145 - Cycle through Intermission Camera(s)

// Impulse 150 - Toggle COOP players can drop artifacts
// Impulse 152 - Toggle COOP weapons to respawn
// Impulse 154 - Toggle COOP health packs to respawn
// Impulse 156 - Toggle COOP ammo boxes to respawn
// Impulse 158 - Toggle COOP powerups to respawn

// Impulse 160 - Toggle Weather systems
// Impulse 170 - Toggle monster body fade/removal
// Impulse 175 - Display Arcane Key Inventory

// Impulse 180 - Display a list of secret locations
// Impulse 182 - Display secret locations
// Impulse 184 - Display a list of monsters left alive
// Impulse 185 - Display a table of monster type/qty
// Impulse 186 - Display a list of Ammo Stats

// Impulse 190 - Display current random seed
// Impulse 192 - Display current settings
// Impulse 194 - Display weapon upgrades
// Impulse 196 - Reset seed for Chaos system

// DEVELOPER ONLY (developer "1" required)
// Impulse 200 - Give/Take Upgrade Axe
// Impulse 202 - Give/Take Grapple Hook
// Impulse 205 - Give/Take Upgrade SSG
// Impulse 210 - Give/Take Upgrade LG
// Impulse 220 - Display Configflag
// Impulse 222 - Display Tempflag
// Impulse 225 - Display Map Variables
// Impulse 230 - Toggle Dev Helpers (mark/arrow)
// Impulse 235 - Cycle Particle debug commands
// Impulse 162 - Toggle Health Max 25/50/75/100
// Impulse 164 - Toggle Health Max 50/100

// Impulse 240 - Give ALL rune sigils
// Impulse 241 - Give rune sigil 1
// Impulse 242 - Give rune sigil 2
// Impulse 243 - Give rune sigil 3
// Impulse 244 - Give rune sigil 4
// Impulse 245 - Give SILVER+GOLD key

// Impulse 246 - Lava Shield
// Impulse 247 - Wet Suit
// Impulse 248 - Blast Belt
// Impulse 249 - Jump Boots
// Impulse 250 - Sharp Shooter
// Impulse 251 - Nail Piercer
// Impulse 252 - Environment Suit
// Impulse 253 - Pentagram of Protection
// Impulse 254 - Ring of Shadows
// Impulse 255 - Quad Damage

alias autoaim "impulse 100"
alias zaware "impulse 110"
alias pixels "impulse 115"
alias feet "impulse 120"
alias liqdmg "impulse 125"
alias upgproj "impulse 130"
alias ver "impulse 140"
alias rseed "impulse 190"

alias invent "impulse 175"
alias huds "impulse 178"

alias seclist "impulse 180"
alias findsec "impulse 182"
alias monlist "impulse 184"
alias monstat "impulse 185"
alias mapstat "impulse 186"

alias showchaos "impulse 190"
alias resetchaos "impulse 196"

alias upgaxe "impulse 200"
alias upghook "impulse 202"
alias upgssg "impulse 205"
alias upglg "impulse 210"

//-----------------------------------------------------------
// All of the MOD features can be changed before loading
// Add the values below together and update temp1
//
// 256     Turn OFF item offset (designed for new maps)
// 512     Turn ON sprite particles for any engine (default OFF)
// 1024    Turn ON particle system (default OFF)
// 2048    Turn OFF Dev Helpers (mark/arrows)
//
// 4096    Upgrade existing Axe, +75% dmg, gib zombies
// 8192    Upgrade SSG weapon pickups, +50% dmg, uses 3 shells
// 16384   Upgrade LG weapon pickups, Direct + Splashdamage
// 32768   Upgrade Grapple Hook, +dmg, +flying, -axes
//
// 65536   ---
// 131072  Turn OFF Shotgun projectiles
// 262144  Turn OFF Shotgun casings
// 524288  Turn OFF Z aware monsters
// 1048576 Turn OFF Enemy/player footsteps
// 2097152 Turn OFF NG/SNG mwheel skip
// 4194304 Turn OFF Monster liquid damage
// 
// Examples:
//    3072 = particles ON & Dev Helpers OFF (1024 + 2048)
//  132096 = particles ON & Projectile Shotgun OFF (1024 + 131072)
//  263168 = particles ON & Shotgun casings OFF (1024 + 262144)
// 1049600 = particles ON & Enemy/player footsteps OFF (1024 + 1048576)
//-----------------------------------------------------------
temp1 1024

//-----------------------------------------------------------
// Extra engine variables (scratch1-4 and saved1-4)
// scratch1 : CSQC -1=off, 0=on, 1+=diff HUD layouts
// scratch2 : >1 Randomizer seed (works with randomizer only)
// scratch3 : 1=Monster Randomizer (Designed for id1 maps)
// scratch4 : 1=Skill 4 Evil mode; Max 50HP, projectiles++
scratch1 4
scratch2 0
scratch3 0
scratch4 0

// These must be defined, they are also saved in config.cfg
// saved1 : 1=Sprite particles for QSS/FTE engine
// saved2 : 1=Turn OFF Enemy/player footsteps
// saved3 : 1=Turn OFF Shotgun casings
// saved4 : 1=Turn OFF Shotgun projectiles
saved1 0
saved2 0
saved3 0
saved4 0

//-----------------------------------------------------------
// To turn off the new Custom huds for old engine clients
// Remove the // infront of the commands below
//scratch1 -1
//cl_nocsqc 1

//-----------------------------------------------------------
// run a user script file if present (user settings)
exec autoexec.cfg

//-----------------------------------------------------------
// stuff command line parameters to engine
stuffcmds

//-----------------------------------------------------------
// Required for large maps (map grid > 4096)
// Required for smooth rotation of cinematic camera's
sv_protocol 999

//-----------------------------------------------------------
// Start with the main menu, not the console!?!
//menu_main

//-----------------------------------------------------------
// start demos if not already running a server
// startdemos demo1 demo2 demo3
