[Desktop Entry]
Version=1.0
Name=lierolibre
Comment=Earthworm action game
Exec=lierolibre
Icon=lierolibre
Terminal=false
Type=Application
Categories=Game;ActionGame;
