<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <dllmap dll="SDL2" os="linux,freebsd,netbsd" target="libSDL2-2.0.so.0"/>
    <dllmap dll="FNA3D" os="linux,freebsd,netbsd" target="libFNA3D.so.0"/>
    <dllmap dll="FAudio" os="linux,freebsd,netbsd" target="libFAudio.so.0"/>
    <dllmap dll="CSteamworks" os="linux,freebsd,netbsd" target="CSteamworks"/>
</configuration>
