[Desktop Entry]
Version=1.0
Type=Application
Name=znax
Categories=Game;
Exec=/usr/games/znax/znax
Icon=io.github.joyrider3774.znax
StartupWMClass=znax


