<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <dllmap os="linux" dll="SDL2.dll" target="libSDL2-2.0.so.0"/>
  <dllmap os="linux" dll="SDL2_image.dll" target="libSDL2_image-2.0.so.0"/>
  <dllmap os="linux" dll="SDL2_mixer.dll" target="libSDL2_mixer-2.0.so.0"/>
  <dllmap os="linux" dll="SDL2_ttf.dll" target="libSDL2_ttf-2.0.so.0"/>

  <dllmap os="linux" dll="fmodex" target="libfmodex.so"/>
  <dllmap os="linux" dll="fmodex.dll" target="libfmodex.so"/>
  <dllmap os="linux" dll="steam_api" target="libsteam_api.so"/>
  <dllmap os="linux" dll="steam_api.dll" target="libsteam_api.so"/>
  <dllmap os="linux" dll="sdkencryptedappticket" target="libsdkencryptedappticket.so"/>
  <dllmap os="linux" dll="sdkencryptedappticket.dll" target="libsdkencryptedappticket.so"/>

  <dllmap os="linux" dll="kernel32" target="libwindows_stub.so"/>
  <dllmap os="linux" dll="kernel32.dll" target="libwindows_stub.so"/>
  <dllmap os="linux" dll="Kernel32" target="libwindows_stub.so"/>
  <dllmap os="linux" dll="Kernel32.dll" target="libwindows_stub.so"/>
  <dllmap os="linux" dll="dwmapi" target="libwindows_stub.so"/>
  <dllmap os="linux" dll="dwmapi.dll" target="libwindows_stub.so"/>
</configuration>
