<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<dllmap dll="user32.dll" os="linux">
		<dllentry dll="libret0.so" name="SetWindowLong" target="ret0"/>
		<dllentry dll="libret0.so" name="CallWindowProc" target="ret0"/>
	</dllmap>

	<dllmap dll="Imm32.dll" os="linux">
		<dllentry dll="libret0.so" name="ImmGetContext" target="ret0"/>
		<dllentry dll="libret0.so" name="ImmAssociateContext" target="ret0"/>
	</dllmap>
</configuration>
