<CONFIG>
<FULLSCREEN value='NO'/>
<SCREENMULT value='2'/>
<AUDIODRIVER value='Real'/>
<AUDIOBUFFERSIZE value='512'/>
<VOLUME value='100'/>
<ROOTFOLDER value="./tracks/"/>
<SAMPLELIB value="./samplelib/"/>
<!-- <DUMPEVENT value='YES'/> -->

<KEY_A value="f" />
<KEY_B value="g" />
<KEY_LEFT value="a" />
<KEY_RIGHT value="d" />
<KEY_UP value="w" />
<KEY_DOWN value="s" />
<KEY_LSHOULDER value="c" />
<KEY_RSHOULDER value="v" />
<KEY_START value="space" />

<KEYDELAY value="185"/>
<KEYREPEAT value="40"/>

<BACKGROUND value="000000"/> <!-- BACKGROUND-->
<FOREGROUND value="E5E5B9"/> <!-- song name -->
<HICOLOR1   value="35748B"/> <!-- row count in song screen -->
<HICOLOR2   value="FFA09B"/> <!-- cursor-->
</CONFIG>
