[Desktop Entry]

Name=Hocoslamfy
Comment=Avoid the bamboo while flying with your bee
Exec=hocoslamfy-od
Terminal=false
Type=Application
Icon=hocoslamfy
X-OD-Manual=manual-en.txt
StartupNotify=true
Categories=games;
