<?xml version="1.0"?>
<Settings>
	<Setting Key="Audio.OutputDevice" Value="" />
	<Setting Key="Input.RumbleEnabled" Value="1" />
	<Setting Key="Language.Custom" Value="" />
	<Setting Key="MusicVolume" Value="0.1" />
	<Setting Key="Screen.Borderless" Value="0" />
	<Setting Key="Screen.Display" Value="0" />
	<Setting Key="Screen.Fullscreen" Value="1" />
	<Setting Key="Screen.FullscreenSize" Value="desktop" />
	<Setting Key="Screen.ScreenScale" Value="1" />
	<Setting Key="Screen.VSync" Value="0" />
	<Setting Key="Screen.WindowResizable" Value="1" />
	<Setting Key="Screen.WindowSize" Value="640;480" />
	<Setting Key="SoundVolume" Value="0.3" />
	<Setting Key="Version" Value="1.10" />
	<Setting Key="Visualizer.Bloom" Value="0" />
	<Setting Key="Visualizer.Brightness" Value="0.5" />
	<Setting Key="Visualizer.UIOffset" Value="0" />
	<Setting Key="Visualizer.UIScale" Value="1.075" />
</Settings>
