[Desktop Entry]
Name=Cubosphere
GenericName=Cubosphere
Exec=cubosphere
Icon=cubosphere
Type=Application
Categories=Game;LogicGame;
Comment=3D puzzle, open source remake of Kula world
Terminal=false
Keywords=puzzle;logic;game;3d;
