<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- SDL2 DLL Mapping -->
    <dllmap dll="SDL2" os="linux,freebsd,netbsd" target="libSDL2-2.0.so.0">
    	<dllentry dll="hacksdl.so" name="SDL_Init"/>
    	<dllentry dll="hacksdl.so" name="SDL_GetCurrentDisplayMode"/>
    	<dllentry dll="hacksdl.so" name="SDL_GetWindowSize"/>
    	<dllentry dll="hacksdl.so" name="SDL_SetWindowSize"/>
    	<dllentry dll="libSDL2-2.0.so.0" name="*" />
    </dllmap>


    <!-- FNA3D DLL Mapping -->
    <dllmap dll="FNA3D" os="windows" target="FNA3D.dll"/>
    <dllmap dll="FNA3D" os="osx" target="libFNA3D.0.dylib"/>
    <dllmap dll="FNA3D" os="linux,freebsd,netbsd" target="libFNA3D.so.0"/>

    <!-- FAudio DLL Mapping -->
    <dllmap dll="FAudio" os="windows" target="FAudio.dll"/>
    <dllmap dll="FAudio" os="osx" target="libFAudio.0.dylib"/>
    <dllmap dll="FAudio" os="linux,freebsd,netbsd" target="libFAudio.so.0"/>

    <!-- Theora DLL Mapping -->
    <dllmap dll="theora" os="windows" target="theora.dll"/>
    <dllmap dll="theora" os="osx" target="libtheora.dylib"/>
    <dllmap dll="theora" os="linux,freebsd,netbsd" target="libtheora.so.0"/>
</configuration>
