<?xml version="1.0"?>
<Settings>
	<Setting Key="Audio.Disabled" Value="0" />
	<Setting Key="Audio.OutputDevice" Value="" />
	<Setting Key="Claim.SteamWorldDig" Value="0" />
	<Setting Key="FollowClaim.Facebook" Value="0" />
	<Setting Key="FollowClaim.Twitter" Value="0" />
	<Setting Key="FollowClaim.Youtube" Value="0" />
	<Setting Key="Game.AimSensitivity" Value="0.4" />
	<Setting Key="Game.ConfirmGuard" Value="1" />
	<Setting Key="Game.CutscenesPlayed" Value="1" />
	<Setting Key="Game.DirectAim" Value="0" />
	<Setting Key="Game.EnemyHullSeed" Value="1149338105,515419014" />
	<Setting Key="Game.Minimap" Value="0" />
	<Setting Key="Game.PlayerHullSeed" Value="1010209395,1430881123" />
	<Setting Key="Game.Rumble" Value="1" />
	<Setting Key="Game.ShipAcceleration" Value="2" />
	<Setting Key="Game.ShipSpeed" Value="5" />
	<Setting Key="Game.ShowDamage" Value="1" />
	<Setting Key="Game.SkipIntroCutscene" Value="0" />
	<Setting Key="Game.SkipMovement" Value="1" />
	<Setting Key="Game.Subtitles" Value="1" />
	<Setting Key="Language.Custom" Value="" />
	<Setting Key="MusicVolume" Value="0.24" />
	<Setting Key="Screen.Borderless" Value="0" />
	<Setting Key="Screen.Display" Value="0" />
	<Setting Key="Screen.DynamicBackdrop" Value="0" />
	<Setting Key="Screen.Fullscreen" Value="1" />
	<Setting Key="Screen.FullscreenSize" Value="desktop" />
	<Setting Key="Screen.KeepMouseInsideFullscreen" Value="1" />
	<Setting Key="Screen.KeepMouseInsideWindowed" Value="0" />
	<Setting Key="Screen.SafeAreaScale" Value="0" />
	<Setting Key="Screen.ScreenScale" Value="2" />
	<Setting Key="Screen.VSync" Value="0" />
	<Setting Key="Screen.WindowResizable" Value="1" />
	<Setting Key="Screen.WindowSize" Value="640;480" />
	<Setting Key="Session.CurrentProfile" Value="0" />
	<Setting Key="Session.HasSeenShopPopup" Value="0" />
	<Setting Key="Session.ViewedDLC" Value="0" />
	<Setting Key="SoundVolume" Value="0.3" />
	<Setting Key="System.MaxFramesPerSecond" Value="289" />
	<Setting Key="Version" Value="4.5.2.1" />
	<Setting Key="Visualizer.Bloom" Value="1" />
	<Setting Key="Visualizer.Brightness" Value="0.5" />
	<Setting Key="Visualizer.EnableAO" Value="0" />
	<Setting Key="Visualizer.UIOffset" Value="0" />
	<Setting Key="Visualizer.UIScale" Value="1" />
</Settings>
