[Desktop Entry]
Name=Project: Starfighter
GenericName=Starfighter
Comment=Liberate the universe from the evil company WEAPCO
Type=Application
Exec=starfighter
Icon=starfighter
Categories=Game;ActionGame;ArcadeGame;
Terminal=false
StartupNotify=false
Keywords=Games
