<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="news">false</entry>
<entry key="visual_grid">0</entry>
<entry key="toolbar_mode">GROUP</entry>
<entry key="full_ui">0</entry>
<entry key="challenges">0</entry>
<entry key="system_font">false</entry>
<entry key="camera_follow">3</entry>
<entry key="last_class">0</entry>
<entry key="flip_tags">false</entry>
<entry key="language">en</entry>
<entry key="zoom">0</entry>
<entry key="updates">false</entry>
<entry key="version">833</entry>
<entry key="custom_seed"></entry>
<entry key="brightness">0</entry>
<entry key="controller_sens">9</entry>
<entry key="fullscreen_monitor">0</entry>
<entry key="intro">true</entry>
<entry key="news_last_read">1740578400000</entry>
<entry key="quickslot_swapper">true</entry>
</properties>
