[Desktop Entry]
Version=1.0
Type=Application
Name=retrotime
Categories=Game;
Exec=/usr/games/retrotime/retrotime
Icon=io.github.joyrider3774.retrotime
StartupWMClass=retrotime


