
; Default touch controls. Whitespace and comments are allowed here.

; The positions don't need to be in any order, but the ID (i.e. WIDGET_POSITION_HOME)
; must be present so the game can know what widget you are talking about.

; Positions for the widgets (in 640x448 space): Format is OriginX, OriginY, ScaleX, ScaleY 
;                                                      or OriginX, OriginY, SCALE (for round buttons).



; On Foot 

PositionAndScale 591, 131, SCALE_SMALL  ; WIDGET_POSITION_PHONE
PositionAndScale 533, 313, SCALE_MEDIUM ; WIDGET_POSITION_VC_SHOOT
PositionAndScale 584, 248, SCALE_MEDIUM ; WIDGET_POSITION_ENTER_CAR
PositionAndScale 56, 248, SCALE_MEDIUM  ; WIDGET_POSITION_VC_SHOOT_ALT
PositionAndScale 584, 184, SCALE_MEDIUM ; WIDGET_POSITION_SWAP_WEAPONS
PositionAndScale 590, 46,  SCALE_SMALL  ; WIDGET_POSITION_SKIP_CUTSCENE
PositionAndScale 29,  100, SCALE_MEDIUM ; WIDGET_POSITION_MISSION_CANCEL_ALT
PositionAndScale 584, 312, SCALE_MEDIUM ; WIDGET_POSITION_TARGETING_AND_ATTACK
PositionAndScale 56, 170, SCALE_MEDIUM  ; WIDGET_POSITION_MISSION_START_AND_MISSION_CANCEL

PositionAndScale 579, 380, SCALE_LARGE  ; WIDGET_POSITION_BUTTON_SPRINT_AND_SWIM


; In Vehicle

PositionAndScale 591, 185, SCALE_SMALL   ; WIDGET_POSITION_HORN
PositionAndScale 618, 42,  SCALE_SMALL 	 ; WIDGET_POSITION_HORN_ALT
PositionAndScale 591, 138, SCALE_SMALL   ; WIDGET_POSITION_CAM_TOGGLE

PositionAndScale 534, 310, SCALE_MEDIUM  ; WIDGET_POSITION_CAR_SHOOT
PositionAndScale 56,  300, SCALE_MEDIUM  ; WIDGET_POSITION_VEHICLE_SHOOT_LEFT
PositionAndScale 105, 300, SCALE_MEDIUM  ; WIDGET_POSITION_VEHICLE_SHOOT_RIGHT
PositionAndScale 42,  380, SCALE_MEDIUM  ; WIDGET_POSITION_VEHICLE_SHOOT_LEFT_ALT
PositionAndScale 97,  380, SCALE_MEDIUM	 ; WIDGET_POSITION_VEHICLE_SHOOT_RIGHT_ALT
PositionAndScale 584, 310, SCALE_MEDIUM  ; WIDGET_POSITION_HANDBRAKE_AND_AIR_SHOOT
PositionAndScale 533, 247, SCALE_MEDIUM  ; WIDGET_POSITION_HYDRAULICS

PositionAndScale 519, 380, SCALE_LARGE   ; WIDGET_POSITION_BRAKE
PositionAndScale 579, 380, SCALE_LARGE   ; WIDGET_POSITION_ACCELERATE

PositionAndScale 535, 395, SCALE_MEDIUM   ; WIDGET_POSITION_VEHICLE_STEER_LEFT
PositionAndScale 585, 395, SCALE_MEDIUM   ; WIDGET_POSITION_VEHICLE_STEER_RIGHT
		
	

; Misc				
PositionAndScale 112, 328, 80, 80           ; WIDGET_POSITION_THUMB_CIRCLE
PositionAndScale 55, 275, 14, 65   	        ; WIDGET_POSITION_TAP_METER
PositionAndScale 55, 400, SCALE_MEDIUM    	; WIDGET_POSITION_TAP_METER_BUTTON 

PositionAndScale 240, 424, SCALE_SMALL 		; WIDGET_POSITION_NEGATIVE
PositionAndScale 390, 424, SCALE_SMALL		; WIDGET_POSITION_POSITIVE

PositionAndScale 505, 385, 45, 40  	    	; WIDGET_POSITION_POOL_ENGLISH

PositionAndScale 565, 418, 25,  25   		; WIDGET_POSITION_ARCADE_BUTTON
PositionAndScale 287, 410, 30,  30    	    ; WIDGET_POSITION_ARCADE_POWER_OFF
PositionAndScale 353, 410, 30,  30     	    ; WIDGET_POSITION_ARCADE_RESET
PositionAndScale 80,  382, 80,  60    	    ; WIDGET_POSITION_ARCADE_JOYSTICK

PositionAndScale 300,  405, SCALE_SMALL  	; WIDGET_POSITION_RACE_LEFT          
PositionAndScale 340, 405, SCALE_SMALL  	; WIDGET_POSITION_RACE_RIGHT         

PositionAndScale 550, 405, SCALE_SMALL  	; WIDGET_POSITION_STORE_ACCEPT
PositionAndScale 590, 405, SCALE_SMALL  	; WIDGET_POSITION_STORE_CANCEL
PositionAndScale 550, 405, SCALE_SMALL  	; WIDGET_POSITION_STORE_BUY

PositionAndScale 320, 220, 160, 160 		; WIDGET_POSITION_STEERING_SELECTION
PositionAndScale 320, 220, 140, 120 		; WIDGET_POSITION_TOUCH_LAYOUT_SELECTION

PositionAndScale 275, 387, 35, 35      		; WIDGET_POSITION_SCHOOL_EXIT

PositionAndScale 585, 395, SCALE_MEDIUM     ; WIDGET_POSITION_SCHOOL_CONTINUE

PositionAndScale 445, 388, 9, 9			    ; WIDGET_POSITION_SCHOOL_LEFT
PositionAndScale 475, 388, 9, 9		  		; WIDGET_POSITION_SCHOOL_RIGHT
PositionAndScale 180, 387, 35, 35       	; WIDGET_POSITION_SCHOOL_START

PositionAndScale 320, 80,  220, 44			; WIDGET_POSITION_SCHOOL_TITLE_BACKGROUND
PositionAndScale 320, 205, 119, 50			; WIDGET_POSITION_SCHOOL_AWARD
PositionAndScale 320, 220, 119, 35			; WIDGET_POSITION_SCHOOL_RESULTS

PositionAndScale 320, 271, 119, 15			; WIDGET_POSITION_SCHOOL_FRAME_ONE
PositionAndScale 320, 302, 119, 15			; WIDGET_POSITION_SCHOOL_FRAME_TWO
PositionAndScale 320, 333, 119, 15			; WIDGET_POSITION_SCHOOL_FRAME_THREE
PositionAndScale 320, 364, 119, 15			; WIDGET_POSITION_SCHOOL_FRAME_FOUR

PositionAndScale 520, 320, SCALE_MEDIUM  	; WIDGET_POSITION_BASKETBALL_TRICK
PositionAndScale 575, 320, SCALE_MEDIUM  	; WIDGET_POSITION_BASKETBALL_SHOOT

PositionAndScale 345, 350, 150, 75      	; WIDGET_POSITION_BLACK_JACK_REGION
PositionAndScale 330, 400, 120, 20      	; WIDGET_POSITION_BLACK_JACK_SLIDER

PositionAndScale 540, 335, SCALE_MEDIUM  	; WIDGET_POSITION_RHYTHM_UP
PositionAndScale 540, 399, SCALE_MEDIUM  	; WIDGET_POSITION_RHYTHM_DOWN
PositionAndScale 492, 367, SCALE_MEDIUM  	; WIDGET_POSITION_RHYTHM_LEFT
PositionAndScale 587, 367, SCALE_MEDIUM  	; WIDGET_POSITION_RHYTHM_RIGHT

PositionAndScale 320, 224, SCALE_LARGE  	; WIDGET_POSITION_RHYTHM_SELECT
PositionAndScale 585, 295, 20, 20     		; WIDGET_POSITION_RHYTHM_EXIT

PositionAndScale 114, 36, 81, 13			; WIDGET_POSITION_PLAYER_SCORE
PositionAndScale 526, 36, 81, 13			; WIDGET_POSITION_OPPOSITION_SCORE

PositionAndScale 452, 57, 35, 35			; WIDGET_POSITION_GANG_REGION

PositionAndScale 134, 243, 104, 130			; WIDGET_POSITION_COLOR_PICKER
PositionAndScale 192, 225, 164, 205			; WIDGET_POSITION_COLOR_PICKER_PHONES

PositionAndScale 232, 210, 38, 38  			; WIDGET_POSITION_WOF_FIRST_BET 
PositionAndScale 348, 158, 32, 32  			; WIDGET_POSITION_WOF_SECOND_BET
PositionAndScale 436, 115,  28, 28  		; WIDGET_POSITION_WOF_THIRD_BET 
PositionAndScale 280, 322, 43, 43  			; WIDGET_POSITION_WOF_FOURTH_BET
PositionAndScale 403, 247, 37, 37  			; WIDGET_POSITION_WOF_FIFTH_BET 
PositionAndScale 504, 186, 33, 33  			; WIDGET_POSITION_WOF_SIXTH_BET 

PositionAndScale 406 410, 25, 25  			; WIDGET_POSITION_VIDEO_POKER_ADD_COIN
PositionAndScale 218, 410, 25, 25  			; WIDGET_POSITION_VIDEO_POKER_REMOVE_COIN

PositionAndScale 100, 353, 47, 24			; WIDGET_POSITION_VIDEO_POKER_HOLD_FIRST_CARD
PositionAndScale 210, 353, 47, 24  			; WIDGET_POSITION_VIDEO_POKER_HOLD_SECOND_CARD
PositionAndScale 320, 353, 47, 24  			; WIDGET_POSITION_VIDEO_POKER_HOLD_THIRD_CARD
PositionAndScale 430, 353, 47, 24  			; WIDGET_POSITION_VIDEO_POKER_HOLD_FOURTH_CARD
PositionAndScale 540, 353, 47, 24  			; WIDGET_POSITION_VIDEO_POKER_HOLD_FIFTH_CARD

PositionAndScale 100, 255, 47, 64			; WIDGET_POSITION_VIDEO_POKER_HOLD_FIRST_CARD_REGION
PositionAndScale 210, 255, 47, 64  			; WIDGET_POSITION_VIDEO_POKER_HOLD_SECOND_CARD_REGION
PositionAndScale 320, 255, 47, 64 			; WIDGET_POSITION_VIDEO_POKER_HOLD_THIRD_CARD_REGION
PositionAndScale 430, 255, 47, 64  			; WIDGET_POSITION_VIDEO_POKER_HOLD_FOURTH_CARD_REGION
PositionAndScale 540, 255, 47, 64 			; WIDGET_POSITION_VIDEO_POKER_HOLD_FIFTH_CARD_REGION

PositionAndScale 490, 413, 40, 40  			; WIDGET_POSITION_VIDEO_POKER_EXIT
PositionAndScale 580, 413, 50, 40  			; WIDGET_POSITION_VIDEO_POKER_DEAL


PositionAndScale 225, 164, 170, 24  		; WIDGET_POSITION_ITB_FIRST_HORSE
PositionAndScale 225, 214, 170, 24 			; WIDGET_POSITION_ITB_SECOND_HORSE
PositionAndScale 225, 264, 170, 24 			; WIDGET_POSITION_ITB_THIRD_HORSE
PositionAndScale 225, 314, 170, 24 			; WIDGET_POSITION_ITB_FOURTH_HORSE
PositionAndScale 225, 364, 170, 24 			; WIDGET_POSITION_ITB_FIFTH_HORSE
PositionAndScale 448, 200, 36, 18 			; WIDGET_POSITION_ITB_FIRST_BET
PositionAndScale 530, 200, 36, 18 			; WIDGET_POSITION_ITB_SECOND_BET
PositionAndScale 448, 240, 36, 18 			; WIDGET_POSITION_ITB_THIRD_BET
PositionAndScale 530, 240, 36, 18 			; WIDGET_POSITION_ITB_FOURTH_BET
PositionAndScale 448, 280, 36, 18 			; WIDGET_POSITION_ITB_FIFTH_BET
PositionAndScale 530, 280, 36, 18 			; WIDGET_POSITION_ITB_SIXTH_BET
PositionAndScale 448, 320, 36, 18 			; WIDGET_POSITION_ITB_SEVENTH_BET
PositionAndScale 530, 320, 36, 18 			; WIDGET_POSITION_ITB_EIGHTH_BET
PositionAndScale 488, 363, 80, 18 			; WIDGET_POSITION_ITB_PLACE_BET
PositionAndScale 320, 430, 28, 28 			; WIDGET_POSITION_ITB_EXIT


PositionAndScale 320, 224, 260, 164  		; WIDGET_POSITION_MAP
PositionAndScale 0,   0,   0,   0    		; WIDGET_POSITION_RESPONSE
PositionAndScale 525, 377, 150, 150	 		; WIDGET_POSITION_DRIVE

PositionAndScale 540, 70, 70,  40    		; WIDGET_POSITION_PLAYER_INFO 
PositionAndScale 76, 370, 44,  44    		; WIDGET_POSITION_RADAR

PositionAndScale 320, 21, 320, 21    		; WIDGET_POSITION_HELP_TEXT
PositionAndScale 132, 82, 100, 60   	    ; WIDGET_POSITION_HELP_TEXT_ALT
PositionAndScale 314, 83, 113, 60   		; WIDGET_POSITION_HELP_TEXT_ALT_SHOPS

PositionAndScale 130, 438, 130, 10   		; WIDGET_POSITION_SWIPE_RADIO
PositionAndScale 90,  358, 90,  90   		; WIDGET_POSITION_PED_MOVE
PositionAndScale 550, 358, 90,  90   		; WIDGET_POSITION_SPRINT_AND_BASKETBALL_JUMP
PositionAndScale 550, 358, 90,  90   		; WIDGET_POSITION_SHOOT_LOOK

PositionAndScale 130, 338, 130, 90   		; WIDGET_POSITION_VEHICLE_STEER_ANALOG
PositionAndScale 130, 338, 130, 90   		; WIDGET_POSITION_VEHICLE_FLICK
        
PositionAndScale 320, 224, 320, 224  		; WIDGET_POSITION_LOOK

PositionAndScale 320, 58, 60, 35  			; WIDGET_POSITION_MISSION_TIMERS
PositionAndScale 320, 58, 60, 35  			; WIDGET_POSITION_RACING
PositionAndScale 320, 200, 85, 95  		    ; WIDGET_POSITION_RACE_RESULTS
PositionAndScale 320, 200, 100, 95  		; WIDGET_POSITION_HORSE_RESULTS
PositionAndScale 93, 316, 60, 110 			; WIDGET_POSITION_WAGER
PositionAndScale 518, 50, 90, 26 			; WIDGET_POSITION_POOL

PositionAndScale 320, 210, 80, 14  			; WIDGET_POSITION_POKER_PAYOUT

PositionAndScale 320, 85, 100, 60  			; WIDGET_POSITION_VITAL_STATS

PositionAndScale 213, 242, 100, 15  		; WIDGET_POSITION_AIRPORT_LEFT
PositionAndScale 423, 242, 100, 15  		; WIDGET_POSITION_AIRPORT_RIGHT

; Gambling

PositionAndScale 50,  175, SCALE_SMALL  	; WIDGET_POSITION_GAMBLING_QUIT

PositionAndScale 585, 335, SCALE_MEDIUM  	; WIDGET_POSITION_PLACE_BET
PositionAndScale 535, 335, SCALE_MEDIUM  	; WIDGET_POSITION_REMOVE_BET
PositionAndScale 585, 395, SCALE_MEDIUM  	; WIDGET_POSITION_GAMBLING_CONTINUE
PositionAndScale 585, 280, SCALE_SMALL  	; WIDGET_POSITION_MINIGAME_CANCEL

PositionAndScale 535, 335, SCALE_MEDIUM 	; WIDGET_POSITION_BLACK_JACK_SPLIT
PositionAndScale 535, 395, SCALE_MEDIUM 	; WIDGET_POSITION_BLACK_JACK_DOUBLE
PositionAndScale 585, 395, SCALE_MEDIUM 	; WIDGET_POSITION_BLACK_JACK_HIT
PositionAndScale 585, 335, SCALE_MEDIUM 	; WIDGET_POSITION_BLACK_JACK_STAND

PositionAndScale 640, 190, 120, 105			; WIDGET_POSITION_TATTOO_PREVIEW

PositionAndScale 558, 132, 50, 12			; WIDGET_POSITION_SAVE_NOTIFICATION